body {
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
    
}

#main-container{
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: 100px 1fr 1fr 2fr 1fr;
    
   
}

#first-block {
    background-color: red;
    
}

#segundo-bloco{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 15px;  
    column-gap: 20px;
    
      
    
    
}


#terceiro-bloco {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 15px;   
    column-gap: 20px;
    
}

#quarto-bloco {
    display: grid;
    grid-template-columns: auto auto ;
    margin: 10px 15px;  
    column-gap: 20px;
}

#quinto-bloco{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 10px 15px;  
    column-gap: 20px; 
}

.blue-block {
    background-color: blue;
    
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
}

.white-block {
    background-color: white;
}